*{
    margin: 0;
    padding: 0;
  }

/*nav section*/

.topnav {
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    height:60px;
    width: 100vw;
    z-index: 6;
  }
.logo-link{
    position: absolute;
    top: 25px;
    left: 8%;
  }
.topnav #myLinks{
    height:40vh;
    margin:20px 20px;
    padding: 10px 0px;
    width: 90vw;
    top: 70px;
    background-color:  hsl(0, 0%, 100%);
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 5px 5px 38px #737782, -5px -5px 38px #ffffff;
    box-shadow: 5px 5px 38px #737782, -5px -5px 38px #ffffff;
    display: grid;
    justify-items: center;
    position: absolute;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: none;
  }
.active {
    color:  hsl(233, 26%, 24%);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    place-self:center;
  }
  #icon{
    width: 15px;
    text-align: center;
    font-size: 18px;
  }
  .icon {
    color: hsl(233, 26%, 24%);
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 6px 8px;
    
  }

/*welcome section*/


  