*{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
  }

/*nav section*/

.topnav {
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    height:60px;
    width: 100vw;
    z-index: 6;
  }
.logo-link{
    position: absolute;
    top: 25px;
    left: 8%;
  }
.topnav #myLinks{
    height:40vh;
    margin:20px 5%;
    padding: 10px 0px;
    width: 90vw;
    top: 70px;
    background-color:  hsl(0, 0%, 100%);
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 5px 5px 38px #444547, -5px -5px 38px #313131;
    box-shadow: 2px 2px 40px #444547, -2px -2px 40px #313131;
    display: grid;
    justify-items: center;
    justify-self: center;
    position: absolute;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: none;
  }
.active {
    color:  hsl(233, 26%, 24%);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    place-self:center;
  }
  #icon{
    width: 15px;
    text-align: center;
    font-size: 18px;
  }
  .icon {
    color: hsl(233, 26%, 24%);
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 6px 8px;
    
  }
.nav-btn{
    display: none;
}

/*welcome section*/

.wel-text{
    display: grid;
    justify-items: center;
    margin: 0px 20px;
}
.wel-img-pc{
    display: none;
}
.wel-img{
    position: absolute;
    width: 100vw;
}
.wel-phn-img{
    width: 90vw;
    position: relative;
    z-index: 2;
    transform: translateY(-60px);
    display: grid;
    margin: auto;
}
.wel-heading{
    width: fit-content;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.wel-para{
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: hsl(233, 8%, 62%);
    margin: 20px auto;
}
.wel-btn{
    background-image: linear-gradient(to right, hsl(192, 70%, 51%) 0%, hsl(136, 65%, 51%)  51%, #70e1f5  100%);
    margin: 10px 10px 80px;
    padding: 13px 35px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 28px;
    font-size: 14px;
    font-family: 'Public Sans', sans-serif;
    border: none;
    place-self: center;
}
.wel-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/*feature section*/

#feature{
    background-color:  hsl(220, 16%, 96%);
    padding:80px 20px;
}
/*feature text*/
.feature-heading-text{
    display: grid;
    justify-items: center;
}
.feature-heading{
    width: fit-content;
    margin:0px auto 20px;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.feature-para{
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    color: hsl(233, 8%, 62%);
    margin: 0px auto 60px;
}
/*feature cards*/
.feature-card{
    display: grid;
    row-gap: 10px;
}
.card{
    display: grid;
    justify-items: center;
}
.card-heading{
    width: fit-content;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    margin: 20px 0px 0px;
}
.card-para{
    width: fit-content;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: hsl(233, 8%, 62%);
    margin: 20px 0px;
}

/*articles section*/

#article{
    background-color: hsl(0, 0%, 98%);
    padding:80px 20px;
}
.article-heading{
    width: fit-content;
    margin:0px auto 30px;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.article-card-prnt{
    display: grid;
    row-gap: 20px;
}
.art-card{
    display: grid;
}
.art-card-img{
    height: auto;
    width: 90vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-self: center;
}
.art-card-text{
    display: grid;
    row-gap: 15px;
    padding: 30px 25px;
    background-color: hsl(0, 0%, 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.art-author{
    font-size: 12px;
    color: hsl(233, 8%, 62%);
}
.art-card-heading{
    font-size: 17px;
    text-decoration: none;
    color:hsl(233, 26%, 24%);
    font-weight: 400;
}
.art-card-heading:hover{
    color:hsl(136, 65%, 51%);
}
.art-card-para{
    font-size: 13px;
    color: hsl(233, 8%, 62%);
    line-height: 20px;
}

/*footer section*/

#footer{
    background-color: hsl(233, 26%, 24%);
    padding:40px 20px;
}
.footer-logo-div{
    display: grid;
    justify-items: center;
}
.footer-icon-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 30px 0px;
}
.footer-icon:hover{
    filter: invert(30%) sepia(45%) saturate(737%) hue-rotate(81deg) brightness(100%) contrast(89%);
}
.footer-link-div{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 15px;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.footer-link:hover{
    color: hsl(136, 65%, 51%);
}
.footer-btn-div{
    display: grid;
    justify-items: center;
}
.footer-btn{
    margin: 40px 10px 30px;
}
.footer-text{
    color: hsl(233, 8%, 62%);
}

/*desktop version*/

@media (min-width:770px){

    *{
        overflow-x: hidden;
    }

    /*nav section*/
  
    .topnav{
      position: relative;
      height: 80px;
    }
    .logo-link{
        top: 30px;
        left: 8%;
    }
    .topnav #myLinks{
      display: inline-block;
      background-color: hsl(0, 0%, 100%);
      height: 80px;
      top: 0%;
      padding: 0%;
      margin:0px 0% 0px 35%;
      display: grid;
      grid-template-rows: none;
      grid-template-columns: max-content max-content max-content max-content max-content;
      box-shadow: none;
    }
    .active{
      color: hsl(233, 8%, 62%);
      font-size: 16px;
      font-weight: 400;
      margin: auto 20px;
      
    }
    .active:hover{
      color: hsl(233, 26%, 24%);
      padding: 28px 0px;
      border-bottom: 5px solid hsl(136, 65%, 51%);
    }
    .icon{
      display: none;
    }
    .nav-btn{
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 8%;
    }

    /*welcome section*/

    .wel-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .wel-img{
        display: none;
    }
    .wel-img-pc{
        display: inline-block;
        height: 125vh;
        transform: translateX(57%) translateY(-25%);
        position: absolute;
    }
    .wel-phn-img{
        position: absolute;
        width: 55vw;
        height: 125vh;
        transform:translateX(97%) translateY(-140px);
    }
    .wel-text{
        grid-column: 1;
        margin: 142px 120px;
    }
    .wel-heading{
        text-align: left;
        font-size: 58px;
    }
    .wel-para{
        text-align: left;
        font-size: 20px;
        margin: 30px auto;
    }
    .wel-btn{
        margin: 10px 0px 30px;
        place-self: start;
    }

    /*feature section*/

    #feature{
        padding:130px 8%;
    }
    /*feature text*/
    .feature-heading{
        width: 100%;
        text-align: left;
        font-size: 45px;
    }
    .feature-para{
        text-align: left;
        width: 60%;
        justify-self: left;
        font-size: 20px;
        margin: 0px 0px 60px;
    }
    /*feature cards*/
    .feature-card{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 45px;
    }
    .card{
        justify-items: left;
    }
    .card-para{
        text-align: left;
    }
}