*{
    margin: 0;
    padding: 0;
  }

/*nav section*/

.topnav {
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    height:60px;
    width: 100vw;
    z-index: 6;
  }
.logo-link{
    position: absolute;
    top: 25px;
    left: 8%;
  }
.topnav #myLinks{
    height:40vh;
    margin:20px 20px;
    padding: 10px 0px;
    width: 90vw;
    top: 70px;
    background-color:  hsl(0, 0%, 100%);
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 5px 5px 38px #444547, -5px -5px 38px #313131;
    box-shadow: 2px 2px 40px #444547, -2px -2px 40px #313131;
    display: grid;
    justify-items: center;
    position: absolute;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: none;
  }
.active {
    color:  hsl(233, 26%, 24%);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    place-self:center;
  }
  #icon{
    width: 15px;
    text-align: center;
    font-size: 18px;
  }
  .icon {
    color: hsl(233, 26%, 24%);
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 6px 8px;
    
  }

/*welcome section*/

.wel-text{
    display: grid;
}
.wel-img-pc{
    display: none;
}
.wel-img{
    position: absolute;
}
.wel-phn-img{
    width: 90vw;
    position: relative;
    z-index: 2;
    transform: translateY(-60px);
    display: grid;
    margin: auto;
}
.wel-heading{
    width: 90vw;
    display: grid;
    margin: auto;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    color: hsl(233, 26%, 24%);
}
.wel-para{
    width: 90vw;
    display: grid;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    color: hsl(233, 8%, 62%);
    margin: 20px auto;
}
.wel-btn{
    background-image: linear-gradient(to right, hsl(192, 70%, 51%) 0%, hsl(136, 65%, 51%)  51%, #70e1f5  100%);
    margin: 10px 10px 80px;
    padding: 13px 35px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 28px;
    font-size: 14px;
    font-family: 'Public Sans', sans-serif;
    border: none;
    place-self: center;
}
.wel-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
  